@using Assignment.Models;
@model Organisation


<form method="post">

    <div class="border">
        <div class="text-primary">
           Add Organisation
        </div>
        <div asp-validation-summary="All">
        </div>
        <hr />
        <div class="mb-3 row">
            <label asp-for="OrganisationId"></label>
            <input asp-for="OrganisationId" class="form-control" />
            
        </div>

        <div class="mb-3 row">
            <label asp-for="OrganisationName"></label>
            <input asp-for="OrganisationName" class="form-control" />
            
        </div>

        <div class="row">

            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control"> Add </button>
            </div>

            <div class="col-6">
                <a asp-controller="Organisation" asp-action="Index" class="btn btn-secondary form-control"> Back To List</a>
            </div>
        </div>

    </div>

</form>
 