@using Assignment.Models;
@model Employee
 
<form method="post">

    <div class="border">
        <div class="text-primary">
            Add Employee
        </div>
        <div asp-validation-summary="All">
        </div>
        <hr />
        <div class="mb-3 row">
            <label asp-for="EmployeeId"></label>
            <input asp-for="EmployeeId" class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth)
            <div class="col-md-12">
                @Html.EditorFor(model => model.DateOfBirth )
            </div>
        </div>


        <div class="mb-3 row">
            <label asp-for="DeptName"></label>
            @Html.DropDownListFor(model => model.DeptName, new SelectList(ViewBag.org),"Select Dept" )
        </div>

        <div class="mb-3 row">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="row">

            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control "> Create </button>
            </div>

            <div class="col-6">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary form-control "> Back To List</a>
            </div>
        </div>

    </div>

</form>
 